<%= render :partial => "shared/export_button" %>
<h1>High Schools</h1>
<%= render :partial => "shared/search_bar" %>

<div id="results_container">
	<%= render :partial => "highschools_table" %>
</div>


