<form>
	<div class="row">
	  <div class="col-lg-4">
	    <div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">
	        	<!--<span class="glyphicon glyphicon-search"></span>-->Filter
	        </button>
	      </span>
	      <input type="text" class="form-control" id="tps-search-bar" onkeyup="showResults(<%=@showing_all_years %>)">
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
</form>

<div class="buffer"></div>
