<h1>Send Feedback</h1>
<h3>Hey <%=User.find(session[:user_id])%>! Got some ideas for the site? Something broken? Just wanna say hi? Then fill out the message below and help our IT Team build a great website, which will do its small part to help the organization soar.</h3>
