<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey IT Team! <%=@user.name %> has some ideas for the site:</h3>
    <p>&quot;<%=@message%>&quot;</p>
  </body>
</html>